<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /anvelocom/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /anvelocom/index.php [L]
</IfModule>
