/* The final design
  - A theme applied to the wireframes / templates
*/



html {
  body {
    font-family: 'Montserrat', sans-serif;
    
    .container {
      #header {
        h1 {
          @include bordered;
        }
        
        nav {
          ul {
            li {
              &.current-menu-item {
                a {
                  color: $highlight;
                }
              }
              
              &:nth-of-type(3), &:nth-of-type(5) {
                &:after {
                  content: '\2022';
                  padding-left: $pad;
                }
              }
            }
          }
        }
      }
      
      main {
        font-family: 'Open Sans', sans-serif;
        
        #intro {
          figure {
            @include figure(full-width, black-background);
          }
        }
      }
    }
    
    &.home {
      #bestsellers {
        article {
          @include thumb(normal, hide, true, true, true);
          
          &.c0 {
            h1 {
              @include highlight;
            }
          }
        }
      }
    }
    
  }
}
