@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Basic building blocks and definitions
*/
/* Grid
*/
/* Default unit for horizontal and vertical spacing
  - Combined from $font-size and $line-height
*/
/* Long texts cannot span the entire screen, they have to be organized into lines containing 50-80 characters only
  - See http://www.kaikkonendesign.fi/typography/#section/3
  - Depends on $font-size
*/
/* 700px / 16px */
/* Responsive breakpoints
*/
/* 384px, Android Nexus 4 */
/* 640px, iPhone 5 */
/* 768px */
/* 1024px */
/* 1280px */
/* 1440px */
/* This is not a best practice but sometimes is very useful
  - for example this can tell jQuery we are in mobile mode
*/
.mobile {
  display: none;
}
@media only screen and (max-width: 47.999em) {
  .mobile {
    display: block;
  }
}

.desktop {
  display: block;
}
@media only screen and (max-width: 47.999em) {
  .desktop {
    display: none;
  }
}

/* Typography
*/
/* The basic body font size
  - See http://lamb.cc/typograph/
*/
/* 16px, 1em */
/* 20px, 1.25em */
/* This is to convert em to rem
  - it depends on font-size
  - font-size: 100% => this value is 1, font-size: 65% => this value is .65
*/
/* Line heights for headers and body text
  - See http://www.kaikkonendesign.fi/typography/#section/4
*/
/* Font sizing for headers
  - We employ modern typography where headers differ by design not by font size
  - We size fonts by REM instead of EM
  - We use Traditional / em scaling from http://lamb.cc/typograph/
*/
/* Letter spacing for uppercase text
  - adjusted based on font-type
*/
/* Font families
*/
/* Colors
*/
/* Animations, decorations
*/
/* in :before and :after usually the font size is larger for better visibility
*/
/* Groups of atoms which function together as a unit
  -  “do one thing and do it well” 
*/
/* Navigational elements
*/
/* Grid elements
  - the $width is coming from the layer above, organisms
*/
/* Left aligned column
*/
/* Columns for Isotope
  - since Isotope filters out elements we don't know which element will be the last in a row,
  so we can't make it's righ margin 0
  - in this grid all elements in a row will have the same right margin
*/
/* Columns for the grid
  - calculates automatically the columns size and margin
  - the right margin of the last element in a row is set to zero
  - $maximum sets how many articles will be displayed on a single page 
*/
/* Returns the with of a column in a grid
  - This is useful to resize other elements to the grid
  - The formula is taken and must be in sync with the mixin col
*/
/* Returns the margin of a column in a grid
*/
/* Generates a full grid of $how-many columns and $maximum elements
*/
/* Remove right margin of the last element in a row of a grid
  - the othere elements will have the righ margin set again
  - this re-set is required by responsive layouts 
*/
/* When decorations and padding is added to a column in a grid these must be removed from the original column width
  - params can be any of %, em, px
*/
/* Typographic elements
*/
/* Select box
  - put <select> inside a <label class="select">
  - label:after is positioned over the original selectbox arrow
  - label after must have a background color to hide the default arrow
*/
/* <dl>
*/
/* <ul> and <ol> lists
  - they display a custom bullet / number via $before
  - the text of the list is aligned right related to the bullet / number
*/
/* Set links
*/
/* Set the font-size and decoration for headings
  - These setting will be used universally, inside a body text or let's say in the header
*/
/* The <dt> in <dl> can look look like a <h1>, <h2> or <h3>
*/
/* When uppercasing fonts the letter spacing must be enlarged */
/* Set the font size
  - 'body' goes from non text elements, it is the default setting put in <body>
  - 'text' goes for long texts like blog posts, articles, etc;
  - 'headings' goes for <h1>, etc
*/
/* Set the background and font color
  - 'invert' inverts this color scheme
*/
/* Various mixins
*/
/* Draws a CSS circle around something
*/
/* An inline list
*/
/* Stretching child element to fill parent's width
*/
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/* Groups of molecules (and possibly atoms) joined together to form distinct section of an interface.
*/
/* Navigation
--------------------------------------------------------------------------------
*/
/* An arrow 
  - to scroll to top of the page
  - or to reveal a menu
*/
/* Grid
--------------------------------------------------------------------------------
*/
/* Displays a product thumb in different ways
  - thumb structure is:
  - <header> with <h3> title
  - <figure>
  - <aside> with details
*/
/* Displaying product / article thumbs
  - if thumbs are filtered by Isotope the standard grid is replaced by an isotope grid
*/
/* Float left child elements like in inline lists
  - it selects only the direct descendants of the parent element
  - its a free-form grid
*/
/* A classic, centered container
  - adapts to small screens 
*/
/* Typography
--------------------------------------------------------------------------------
*/
/* Default font, color, typography settings for non text elements
*/
/* Vertical spacing of all typographic elements
*/
/* Settings for long text content like articles, blog posts
*/
/* Templates mostly focus on content structure (such as character length, image size, etc) rather than the actual content.
  - they are wireframes describing the layout
*/
/* A classic, horizontal menu for <nav> elements
*/
/* Highlight current menu item
*/
/* The golden ration on pages
*/
/* The filters
*/
/* Remove a section or nav title required by HTML5 outliner
*/
html body {
  background: #f1f1f1;
  color: #1f1f1f;
  font-size: 100%;
  line-height: 1.25;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  /* Archives
  */
  /* Single product
  */
  /* Content pages
  */
}
html body h1, html body h2, html body h3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
}
html body h1 {
  font-weight: bold;
}
html body h2 {
  text-transform: uppercase;
  letter-spacing: 0.15625em;
}
html body h4, html body h5, html body h6 {
  font-size: larger;
}
html body a {
  color: #1f1f1f;
  text-decoration: none;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 0.15625em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body a:hover, html body a:focus {
  color: #f3aaaa;
}
html body img {
  max-width: 100%;
  height: auto;
}
html body .container {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 90em) {
  html body .container {
    width: 80%;
    margin: 0 auto;
  }
}
html body .container #header, html body .container #footer {
  width: 100%;
  float: left;
  width: 100%;
  float: left;
  margin: 1.25em 0;
}
html body .container #header > *, html body .container #footer > * {
  width: auto;
  float: left;
  margin-right: 1.25em;
}
html body .container #header {
  margin-bottom: 0;
}
html body .container #header nav {
  /* We have two menus, the last is for contact
  */
}
html body .container #header nav h3 {
  display: none;
}
html body .container #header nav ul {
  margin: 0;
  display: block;
  list-style-type: none;
}
html body .container #header nav ul li {
  display: inline-block;
  float: left;
  margin-right: 1.25em;
}
html body .container #header nav ul li:last-of-type {
  margin-right: 0;
}
html body .container #header nav:last-of-type {
  display: none;
}
@media only screen and (min-width: 80em) {
  html body .container #header nav:last-of-type {
    float: right;
    margin-right: 0em;
    display: block;
  }
}
@media only screen and (max-width: 47.999em) {
  html body .container #header nav {
    /* Remove the arrow when menu is active
    */
  }
  html body .container #header nav ul {
    display: none;
  }
  html body .container #header nav:last-of-type {
    cursor: pointer;
    display: block;
    float: right;
  }
  html body .container #header nav:last-of-type:before {
    content: "\21E3";
    width: 1.25em;
    height: 1.25em;
    -webkit-border-radius: 0.625em;
    -moz-border-radius: 0.625em;
    -ms-border-radius: 0.625em;
    -o-border-radius: 0.625em;
    border-radius: 0.625em;
    border: 1px solid;
    text-align: center;
    font-size: 150%;
    display: block;
  }
  html body .container #header nav.active:last-of-type {
    float: left;
  }
  html body .container #header nav.active:last-of-type:before {
    content: '';
    padding: 0;
    font-size: normal;
    display: none;
  }
}
html body .container main {
  width: 100%;
  float: left;
}
html body .container main section {
  width: 100%;
  float: left;
  margin: 1.25em 0;
}
html body .container main section#intro h2, html body .container main section#intro h3 {
  display: none;
}
html body .container main section#intro figure img {
  -webkit-box-shadow: 0 2px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  width: 100%;
}
html body .container main section#intro figure figcaption {
  font-size: smaller;
}
html body .container main section.articles article.thumb {
  width: 18%;
  margin-right: 2.5%;
  float: left;
  margin-bottom: 0;
}
html body .container main section.articles article.thumb:nth-of-type(2) {
  margin-right: 2.5%;
}
html body .container main section.articles article.thumb:nth-of-type(3) {
  margin-right: 2.5%;
}
html body .container main section.articles article.thumb:nth-of-type(4) {
  margin-right: 2.5%;
}
html body .container main section.articles article.thumb:nth-of-type(5) {
  margin-right: 0;
}
html body .container main section.articles article.thumb:nth-of-type(6) {
  margin-right: 2.5%;
}
html body .container main section.articles article.thumb:nth-of-type(7) {
  margin-right: 2.5%;
}
html body .container main section.articles article.thumb:nth-of-type(8) {
  margin-right: 2.5%;
}
html body .container main section.articles article.thumb:nth-of-type(9) {
  margin-right: 2.5%;
}
html body .container main section.articles article.thumb:nth-of-type(10) {
  margin-right: 0;
}
@media only screen and (max-width: 64em) {
  html body .container main section.articles article.thumb {
    width: 30%;
    margin-right: 5%;
    float: left;
  }
  html body .container main section.articles article.thumb:nth-of-type(2) {
    margin-right: 5%;
  }
  html body .container main section.articles article.thumb:nth-of-type(3) {
    margin-right: 0;
  }
  html body .container main section.articles article.thumb:nth-of-type(4) {
    margin-right: 5%;
  }
  html body .container main section.articles article.thumb:nth-of-type(5) {
    margin-right: 5%;
  }
  html body .container main section.articles article.thumb:nth-of-type(6) {
    margin-right: 0;
  }
  html body .container main section.articles article.thumb:nth-of-type(7) {
    margin-right: 5%;
  }
  html body .container main section.articles article.thumb:nth-of-type(8) {
    margin-right: 5%;
  }
  html body .container main section.articles article.thumb:nth-of-type(9) {
    margin-right: 0;
  }
  html body .container main section.articles article.thumb:nth-of-type(10) {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 47.999em) {
  html body .container main section.articles article.thumb {
    width: 45%;
    margin-right: 10%;
    float: left;
  }
  html body .container main section.articles article.thumb:nth-of-type(2) {
    margin-right: 0;
  }
  html body .container main section.articles article.thumb:nth-of-type(3) {
    margin-right: 10%;
  }
  html body .container main section.articles article.thumb:nth-of-type(4) {
    margin-right: 0;
  }
  html body .container main section.articles article.thumb:nth-of-type(5) {
    margin-right: 10%;
  }
  html body .container main section.articles article.thumb:nth-of-type(6) {
    margin-right: 0;
  }
  html body .container main section.articles article.thumb:nth-of-type(7) {
    margin-right: 10%;
  }
  html body .container main section.articles article.thumb:nth-of-type(8) {
    margin-right: 0;
  }
  html body .container main section.articles article.thumb:nth-of-type(9) {
    margin-right: 10%;
  }
  html body .container main section.articles article.thumb:nth-of-type(10) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 24em) {
  html body .container main section.articles article.thumb {
    width: 100%;
    margin-right: 0;
    float: left;
  }
}
html body .container main section.articles article.thumb header, html body .container main section.articles article.thumb figure, html body .container main section.articles article.thumb aside {
  display: none;
}
html body .container main section.articles article.thumb figure {
  display: block;
}
html body .container #footer nav {
  float: right;
  margin-right: 0;
  cursor: pointer;
}
html body .container #footer nav h2, html body .container #footer nav h3 {
  display: none;
}
html body .container #footer nav:before {
  content: "\21E1";
  width: 1.25em;
  height: 1.25em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  border: 1px solid;
  text-align: center;
  font-size: 150%;
  display: block;
}
html body.page main section {
  /* The filters have relative posistioning with a negative top margin
    - it's container bottom margin and the next container's top margin must be reset 
  */
}
html body.page main section article.thumb {
  width: 17%;
  margin-right: 2%;
  float: left;
  margin-bottom: 1.25em;
}
@media only screen and (max-width: 64em) {
  html body.page main section article.thumb {
    width: 32.33333%;
    margin-right: 1%;
    float: left;
  }
}
@media only screen and (max-width: 47.999em) {
  html body.page main section article.thumb {
    width: 44%;
    margin-right: 5%;
    float: left;
  }
}
@media only screen and (max-width: 24em) {
  html body.page main section article.thumb {
    width: 100%;
    margin-right: 0;
    float: left;
  }
}
html body.page main section article.thumb header, html body.page main section article.thumb figure, html body.page main section article.thumb aside {
  display: none;
}
html body.page main section article.thumb figure {
  display: block;
}
html body.page main section#filters {
  margin-bottom: 0;
}
html body.page main section#filters label.select:after {
  content: "\21E3";
  float: right;
  display: inline-block;
  padding: 0 .45em;
  position: relative;
  left: 0;
  background: #f1f1f1;
  border: 1px solid;
  font-size: 140%;
  top: -1.35em;
  pointer-events: none;
  /* this is a must */
  cursor: pointer;
}
html body.page main section#filters select {
  border: none;
  outline: 0;
  background: #f1f1f1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid;
  cursor: pointer;
  width: 100%;
  padding: 0.3125em;
}
html body.page main section#filters ul li, html body.page main section#filters .select {
  width: 17%;
  margin-right: 2%;
  float: left;
}
@media only screen and (max-width: 64em) {
  html body.page main section#filters ul li, html body.page main section#filters .select {
    width: 32.33333%;
    margin-right: 1%;
    float: left;
  }
}
@media only screen and (max-width: 47.999em) {
  html body.page main section#filters ul li, html body.page main section#filters .select {
    width: 44%;
    margin-right: 5%;
    float: left;
  }
}
@media only screen and (max-width: 24em) {
  html body.page main section#filters ul li, html body.page main section#filters .select {
    width: 100%;
    margin-right: 0;
    float: left;
  }
}
@media only screen and (max-width: 64em) {
  html body.page main section#filters ul {
    display: none;
  }
}
html body.page main section#results {
  margin-top: 0;
}
html body.page main section#results h2, html body.page main section#results h3 {
  display: none;
}
html body.single-post main article.product article, html body.single-post main article.product figure {
  width: 38.1953%;
  margin-right: 0;
  float: left;
}
html body.single-post main article.product aside, html body.single-post main article.product #sidebar {
  width: 61.8047%;
  margin-right: 0;
  float: left;
}
@media only screen and (max-width: 63.999em) {
  html body.single-post main article.product article, html body.single-post main article.product figure, html body.single-post main article.product aside, html body.single-post main article.product #sidebar {
    width: 100%;
    margin-right: 0;
    float: left;
  }
}
html body.single-post main section nav {
  width: 100%;
  float: left;
}
html body.single-post main section nav h2 {
  width: 18%;
  margin-right: 2.5%;
  float: left;
}
html body.single-post main section nav h2:nth-of-type(2) {
  margin-right: 2.5%;
}
html body.single-post main section nav h2:nth-of-type(3) {
  margin-right: 2.5%;
}
html body.single-post main section nav h2:nth-of-type(4) {
  margin-right: 2.5%;
}
html body.single-post main section nav h2:nth-of-type(5) {
  margin-right: 0;
}
html body.single-post main section nav h2:nth-of-type(6) {
  margin-right: 2.5%;
}
html body.single-post main section nav h2:nth-of-type(7) {
  margin-right: 2.5%;
}
html body.single-post main section nav h2:nth-of-type(8) {
  margin-right: 2.5%;
}
html body.single-post main section nav h2:nth-of-type(9) {
  margin-right: 2.5%;
}
html body.single-post main section nav h2:nth-of-type(10) {
  margin-right: 0;
}
@media only screen and (max-width: 64em) {
  html body.single-post main section nav h2 {
    width: 30%;
    margin-right: 5%;
    float: left;
  }
  html body.single-post main section nav h2:nth-of-type(2) {
    margin-right: 5%;
  }
  html body.single-post main section nav h2:nth-of-type(3) {
    margin-right: 0;
  }
  html body.single-post main section nav h2:nth-of-type(4) {
    margin-right: 5%;
  }
  html body.single-post main section nav h2:nth-of-type(5) {
    margin-right: 5%;
  }
  html body.single-post main section nav h2:nth-of-type(6) {
    margin-right: 0;
  }
  html body.single-post main section nav h2:nth-of-type(7) {
    margin-right: 5%;
  }
  html body.single-post main section nav h2:nth-of-type(8) {
    margin-right: 5%;
  }
  html body.single-post main section nav h2:nth-of-type(9) {
    margin-right: 0;
  }
  html body.single-post main section nav h2:nth-of-type(10) {
    margin-right: 5%;
  }
}
@media only screen and (max-width: 47.999em) {
  html body.single-post main section nav h2 {
    width: 45%;
    margin-right: 10%;
    float: left;
  }
  html body.single-post main section nav h2:nth-of-type(2) {
    margin-right: 0;
  }
  html body.single-post main section nav h2:nth-of-type(3) {
    margin-right: 10%;
  }
  html body.single-post main section nav h2:nth-of-type(4) {
    margin-right: 0;
  }
  html body.single-post main section nav h2:nth-of-type(5) {
    margin-right: 10%;
  }
  html body.single-post main section nav h2:nth-of-type(6) {
    margin-right: 0;
  }
  html body.single-post main section nav h2:nth-of-type(7) {
    margin-right: 10%;
  }
  html body.single-post main section nav h2:nth-of-type(8) {
    margin-right: 0;
  }
  html body.single-post main section nav h2:nth-of-type(9) {
    margin-right: 10%;
  }
  html body.single-post main section nav h2:nth-of-type(10) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 24em) {
  html body.single-post main section nav h2 {
    width: 100%;
    margin-right: 0;
    float: left;
  }
}
html body.page main #content h2, html body.page main #content h3 {
  display: none;
}
html body.page main #content article, html body.page main #content figure {
  width: 61.8047%;
  margin-right: 0;
  float: left;
}
html body.page main #content aside, html body.page main #content #sidebar {
  width: 38.1953%;
  margin-right: 0;
  float: left;
}
@media only screen and (max-width: 63.999em) {
  html body.page main #content article, html body.page main #content figure, html body.page main #content aside, html body.page main #content #sidebar {
    width: 100%;
    margin-right: 0;
    float: left;
  }
}

/* Special decorations for this site
*/
/* Display page content
*/
/* The sidebar
*/
/* Display price
*/
/* A white text on a black, opaque background
*/
/* Highlight a text, even if it is a link
*/
/* Add border to text
*/
html body {
  /* Archives
  */
  /* Single product
  */
  /* Content page
  */
}
html body .container #header {
  /* Nav must be adjusted to the bordered header
  */
}
html body .container #header h1 {
  padding: 0.625em;
  border: 1px solid;
}
html body .container #header nav {
  margin-top: 0.9375em;
}
html body .container main section h2 {
  padding: 0.625em;
  border: 1px solid;
  width: calc(18% - 1.25em - 2px);
  margin-bottom: 1.25em;
}
html body .container main section#intro {
  /* Figcaption has relative positioning with negative top margin 
  */
  margin-bottom: 0;
}
html body .container main section#intro figure figcaption {
  position: relative;
  top: -2.8125em;
  background: #f1f1f1;
  display: inline-block;
  padding: 0.625em;
  border: 1px solid;
  border-width: 0.3125em;
  padding: 1.25em;
  background: #1f1f1f;
  color: #f1f1f1;
  opacity: .9;
}
html body .container main section#intro figure figcaption a {
  color: #f1f1f1;
}
html body.page .container main section h2 {
  width: calc(17% - 1.25em - 2px);
}
html body.page .container main section#filters ul li {
  background: #1f1f1f;
  color: #f1f1f1;
  padding: 0.3125em;
  width: calc(17% - 0.625em - 0px);
}
html body.page .container main section#filters ul li a {
  color: #f1f1f1;
}
html body.single-post main article.product header {
  display: none;
}
html body.single-post main article.product figure figcaption {
  display: none;
}
html body.single-post main section nav h2 {
  width: calc(18% - 1.25em - 2px);
}
html body.page main #content article.page #body {
  width: 100%;
  float: left;
  max-width: 43.75em;
  line-height: 1.75;
  /* Headings
  */
  /* Elements
  */
  /* Padding of individual elements
  */
  /* Padding of consecutive elements
  */
}
html body.page main #content article.page #body h1, html body.page main #content article.page #body h2, html body.page main #content article.page #body h3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
}
html body.page main #content article.page #body h1 {
  font-weight: bold;
}
html body.page main #content article.page #body h2 {
  text-transform: uppercase;
  letter-spacing: 0.15625em;
}
html body.page main #content article.page #body h4, html body.page main #content article.page #body h5, html body.page main #content article.page #body h6 {
  font-size: larger;
}
html body.page main #content article.page #body h1, html body.page main #content article.page #body h2, html body.page main #content article.page #body h3 {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.45833em 0;
}
html body.page main #content article.page #body em, html body.page main #content article.page #body i {
  font-style: italic;
}
html body.page main #content article.page #body strong, html body.page main #content article.page #body b {
  font-weight: bold;
}
html body.page main #content article.page #body ul {
  list-style: none outside;
}
html body.page main #content article.page #body ul li {
  /* When parent positioned to 'relative' the children (:before) can be positioned to 'absolute'
    - this way we can perfectly align the bullets / numbering to the list content
  */
  position: relative;
  padding-left: 1.25em;
}
html body.page main #content article.page #body ul li:before {
  content: "\271A";
  /* making the content of the list perfectly align with numbering
    - <li> is relatively positioned
    - :the numbering (:before) is aboslutely positioned within <li> and fixed to left
    - the the <li> content has a padding-left to not overlap the numbering
  */
  position: absolute;
  left: 0;
}
html body.page main #content article.page #body ol {
  list-style: none outside;
  counter-reset: ol-counter;
}
html body.page main #content article.page #body ol li {
  /* When parent positioned to 'relative' the children (:before) can be positioned to 'absolute'
    - this way we can perfectly align the bullets / numbering to the list content
  */
  position: relative;
  padding-left: 1.25em;
}
html body.page main #content article.page #body ol li:before {
  /* making the content of the list perfectly align with numbering
    - <li> is relatively positioned
    - :the numbering (:before) is aboslutely positioned within <li> and fixed to left
    - the the <li> content has a padding-left to not overlap the numbering
  */
  position: absolute;
  left: 0;
}
html body.page main #content article.page #body ol li {
  counter-increment: ol-counter;
}
html body.page main #content article.page #body ol li:before {
  content: counter(ol-counter,decimal);
}
html body.page main #content article.page #body dl dt {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15625em;
}
html body.page main #content article.page #body table {
  width: 100%;
  display: table !important;
}
html body.page main #content article.page #body table thead {
  background: #1f1f1f;
  color: #f1f1f1;
}
html body.page main #content article.page #body table thead a {
  color: #f1f1f1;
}
html body.page main #content article.page #body table thead th, html body.page main #content article.page #body table tbody td {
  padding: 1.25em;
  padding-left: 0;
}
html body.page main #content article.page #body table tbody td {
  border-bottom: 1px solid #bebebe;
}
html body.page main #content article.page #body figure img {
  -webkit-box-shadow: 0 2px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  width: auto;
}
html body.page main #content article.page #body figure figcaption {
  font-size: smaller;
}
html body.page main #content article.page #body form {
  /* Reset */
  /* Text */
  /* Button */
  /* Stretching and padding */
}
html body.page main #content article.page #body form input, html body.page main #content article.page #body form textarea, html body.page main #content article.page #body form select {
  border: none;
  outline: 0;
  background: #f1f1f1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
html body.page main #content article.page #body form input[type='text'], html body.page main #content article.page #body form input[type='email'], html body.page main #content article.page #body form input[type='password'], html body.page main #content article.page #body form textarea {
  border: 1px solid #1f1f1f;
  font-style: italic;
}
html body.page main #content article.page #body form input[type='submit'] {
  text-transform: uppercase;
  letter-spacing: 0.15625em;
  border: 1px solid #1f1f1f;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body.page main #content article.page #body form input[type='submit']:hover {
  background: #f3aaaa;
}
html body.page main #content article.page #body form label, html body.page main #content article.page #body form input, html body.page main #content article.page #body form textarea {
  width: 100%;
  float: left;
}
html body.page main #content article.page #body form input, html body.page main #content article.page #body form textarea {
  padding: 0.625em;
  width: calc(100% - 1.25em);
}
html body.page main #content article.page #body blockquote, html body.page main #content article.page #body q {
  border-top: 1px solid;
  border-bottom: 1px solid;
  /* Making room to the " sign 
  */
  position: relative;
  float: left;
  padding: 12.5em 0 2.5em 5em;
  /* Fill the parent block
  */
  width: 100%;
  float: left;
  text-align: right;
  width: calc(43.75em - 5em);
  /*
  @include below-and-small-screen {
    width: calc(100% - 5em);
  }
  */
}
html body.page main #content article.page #body blockquote:before, html body.page main #content article.page #body q:before {
  content: '\201C';
  font-size: 1400%;
  position: absolute;
  top: 0;
  left: 0;
}
html body.page main #content article.page #body ul, html body.page main #content article.page #body ol, html body.page main #content article.page #body dl, html body.page main #content article.page #body table, html body.page main #content article.page #body figure, html body.page main #content article.page #body form, html body.page main #content article.page #body q {
  margin: 1.25em 0;
}
html body.page main #content article.page #body figure {
  margin-top: 2.5em;
}
html body.page main #content article.page #body dd + dt {
  margin-top: 1.25em;
}
html body.page main #content article.page #body p + p {
  margin-top: 1.25em;
}
html body.page main #content article.page #body h1 + h2, html body.page main #content article.page #body h2 + h3 {
  padding-top: 0;
}
html body.page main #content article.page #body h1 + ul, html body.page main #content article.page #body h2 + ul, html body.page main #content article.page #body h3 + ul,
html body.page main #content article.page #body h1 + ol, html body.page main #content article.page #body h2 + ol, html body.page main #content article.page #body h3 + ol {
  margin-top: 0;
}
html body.page main #content article.page #body li ul, html body.page main #content article.page #body li ol {
  margin-top: 0;
}
html body.page main #content article.page #comments {
  width: 100%;
  float: left;
  max-width: 43.75em;
  margin: 1.25em 0;
  background: #1f1f1f;
  color: #f1f1f1;
  padding: 1.25em;
  width: calc(100% - 2.5em);
}
html body.page main #content article.page #comments a {
  color: #f1f1f1;
}
html body.page main #content article.page #comments form {
  /* Reset */
  /* Text */
  /* Button */
  /* Stretching and padding */
}
html body.page main #content article.page #comments form input, html body.page main #content article.page #comments form textarea, html body.page main #content article.page #comments form select {
  border: none;
  outline: 0;
  background: #f1f1f1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
html body.page main #content article.page #comments form input[type='text'], html body.page main #content article.page #comments form input[type='email'], html body.page main #content article.page #comments form input[type='password'], html body.page main #content article.page #comments form textarea {
  border: 1px solid #1f1f1f;
  font-style: italic;
}
html body.page main #content article.page #comments form input[type='submit'] {
  text-transform: uppercase;
  letter-spacing: 0.15625em;
  border: 1px solid #1f1f1f;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body.page main #content article.page #comments form input[type='submit']:hover {
  background: #f3aaaa;
}
html body.page main #content article.page #comments form label, html body.page main #content article.page #comments form input, html body.page main #content article.page #comments form textarea {
  width: 100%;
  float: left;
}
html body.page main #content article.page #comments form input, html body.page main #content article.page #comments form textarea {
  padding: 0.625em;
  width: calc(100% - 1.25em);
}
html body.page main #content article.page #comments h3, html body.page main #content article.page #comments h2 {
  margin-bottom: 1.25em;
}
html body.page main #content article.page #comments ol li {
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
  border-bottom: 1px solid #bebebe;
  max-width: 43.75em;
  line-height: 1.75;
  /* Headings
  */
  /* Elements
  */
  /* Padding of individual elements
  */
  /* Padding of consecutive elements
  */
}
html body.page main #content article.page #comments ol li h1, html body.page main #content article.page #comments ol li h2, html body.page main #content article.page #comments ol li h3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
}
html body.page main #content article.page #comments ol li h1 {
  font-weight: bold;
}
html body.page main #content article.page #comments ol li h2 {
  text-transform: uppercase;
  letter-spacing: 0.15625em;
}
html body.page main #content article.page #comments ol li h4, html body.page main #content article.page #comments ol li h5, html body.page main #content article.page #comments ol li h6 {
  font-size: larger;
}
html body.page main #content article.page #comments ol li h1, html body.page main #content article.page #comments ol li h2, html body.page main #content article.page #comments ol li h3 {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.45833em 0;
}
html body.page main #content article.page #comments ol li em, html body.page main #content article.page #comments ol li i {
  font-style: italic;
}
html body.page main #content article.page #comments ol li strong, html body.page main #content article.page #comments ol li b {
  font-weight: bold;
}
html body.page main #content article.page #comments ol li ul {
  list-style: none outside;
}
html body.page main #content article.page #comments ol li ul li {
  /* When parent positioned to 'relative' the children (:before) can be positioned to 'absolute'
    - this way we can perfectly align the bullets / numbering to the list content
  */
  position: relative;
  padding-left: 1.25em;
}
html body.page main #content article.page #comments ol li ul li:before {
  content: "\271A";
  /* making the content of the list perfectly align with numbering
    - <li> is relatively positioned
    - :the numbering (:before) is aboslutely positioned within <li> and fixed to left
    - the the <li> content has a padding-left to not overlap the numbering
  */
  position: absolute;
  left: 0;
}
html body.page main #content article.page #comments ol li ol {
  list-style: none outside;
  counter-reset: ol-counter;
}
html body.page main #content article.page #comments ol li ol li {
  /* When parent positioned to 'relative' the children (:before) can be positioned to 'absolute'
    - this way we can perfectly align the bullets / numbering to the list content
  */
  position: relative;
  padding-left: 1.25em;
}
html body.page main #content article.page #comments ol li ol li:before {
  /* making the content of the list perfectly align with numbering
    - <li> is relatively positioned
    - :the numbering (:before) is aboslutely positioned within <li> and fixed to left
    - the the <li> content has a padding-left to not overlap the numbering
  */
  position: absolute;
  left: 0;
}
html body.page main #content article.page #comments ol li ol li {
  counter-increment: ol-counter;
}
html body.page main #content article.page #comments ol li ol li:before {
  content: counter(ol-counter,decimal);
}
html body.page main #content article.page #comments ol li dl dt {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15625em;
}
html body.page main #content article.page #comments ol li table {
  width: 100%;
  display: table !important;
}
html body.page main #content article.page #comments ol li table thead {
  background: #1f1f1f;
  color: #f1f1f1;
}
html body.page main #content article.page #comments ol li table thead a {
  color: #f1f1f1;
}
html body.page main #content article.page #comments ol li table thead th, html body.page main #content article.page #comments ol li table tbody td {
  padding: 1.25em;
  padding-left: 0;
}
html body.page main #content article.page #comments ol li table tbody td {
  border-bottom: 1px solid #bebebe;
}
html body.page main #content article.page #comments ol li figure img {
  -webkit-box-shadow: 0 2px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  width: auto;
}
html body.page main #content article.page #comments ol li figure figcaption {
  font-size: smaller;
}
html body.page main #content article.page #comments ol li form {
  /* Reset */
  /* Text */
  /* Button */
  /* Stretching and padding */
}
html body.page main #content article.page #comments ol li form input, html body.page main #content article.page #comments ol li form textarea, html body.page main #content article.page #comments ol li form select {
  border: none;
  outline: 0;
  background: #f1f1f1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
html body.page main #content article.page #comments ol li form input[type='text'], html body.page main #content article.page #comments ol li form input[type='email'], html body.page main #content article.page #comments ol li form input[type='password'], html body.page main #content article.page #comments ol li form textarea {
  border: 1px solid #1f1f1f;
  font-style: italic;
}
html body.page main #content article.page #comments ol li form input[type='submit'] {
  text-transform: uppercase;
  letter-spacing: 0.15625em;
  border: 1px solid #1f1f1f;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body.page main #content article.page #comments ol li form input[type='submit']:hover {
  background: #f3aaaa;
}
html body.page main #content article.page #comments ol li form label, html body.page main #content article.page #comments ol li form input, html body.page main #content article.page #comments ol li form textarea {
  width: 100%;
  float: left;
}
html body.page main #content article.page #comments ol li form input, html body.page main #content article.page #comments ol li form textarea {
  padding: 0.625em;
  width: calc(100% - 1.25em);
}
html body.page main #content article.page #comments ol li blockquote, html body.page main #content article.page #comments ol li q {
  border-top: 1px solid;
  border-bottom: 1px solid;
  /* Making room to the " sign 
  */
  position: relative;
  float: left;
  padding: 12.5em 0 2.5em 5em;
  /* Fill the parent block
  */
  width: 100%;
  float: left;
  text-align: right;
  width: calc(43.75em - 5em);
  /*
  @include below-and-small-screen {
    width: calc(100% - 5em);
  }
  */
}
html body.page main #content article.page #comments ol li blockquote:before, html body.page main #content article.page #comments ol li q:before {
  content: '\201C';
  font-size: 1400%;
  position: absolute;
  top: 0;
  left: 0;
}
html body.page main #content article.page #comments ol li ul, html body.page main #content article.page #comments ol li ol, html body.page main #content article.page #comments ol li dl, html body.page main #content article.page #comments ol li table, html body.page main #content article.page #comments ol li figure, html body.page main #content article.page #comments ol li form, html body.page main #content article.page #comments ol li q {
  margin: 1.25em 0;
}
html body.page main #content article.page #comments ol li figure {
  margin-top: 2.5em;
}
html body.page main #content article.page #comments ol li dd + dt {
  margin-top: 1.25em;
}
html body.page main #content article.page #comments ol li p + p {
  margin-top: 1.25em;
}
html body.page main #content article.page #comments ol li h1 + h2, html body.page main #content article.page #comments ol li h2 + h3 {
  padding-top: 0;
}
html body.page main #content article.page #comments ol li h1 + ul, html body.page main #content article.page #comments ol li h2 + ul, html body.page main #content article.page #comments ol li h3 + ul,
html body.page main #content article.page #comments ol li h1 + ol, html body.page main #content article.page #comments ol li h2 + ol, html body.page main #content article.page #comments ol li h3 + ol {
  margin-top: 0;
}
html body.page main #content article.page #comments ol li li ul, html body.page main #content article.page #comments ol li li ol {
  margin-top: 0;
}
html body.page main #content article.page #comments ol li a {
  color: #f3aaaa;
  text-decoration: none;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 0.15625em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body.page main #content article.page #comments ol li a:hover, html body.page main #content article.page #comments ol li a:focus {
  color: #f3aaaa;
}
html body.page main #content article.page #comments ol li .reply {
  margin: 0.625em 0;
}
html body.page main #content article.page #comments ol li .vcard {
  display: none;
}
html body.page main #content article.page #comments ol.children {
  margin: 1.25em;
}
html body.page main #content article.page #comments form {
  width: 60%;
}
html body.page main #content article.page #comments form input, html body.page main #content article.page #comments form textarea {
  margin-bottom: 0.625em;
}
html body.page main #content article.page #comments form input#submit, html body.page main #content article.page #comments form textarea#submit {
  width: 15em;
}
html body.page main #content #sidebar {
  padding: 0.625em;
  border: 1px solid;
  padding: 2.5em;
  width: calc(38.1953% - 5em - 2px);
}
html body.page main #content #sidebar ul {
  list-style: none outside;
}
html body.page main #content #sidebar ul li {
  /* When parent positioned to 'relative' the children (:before) can be positioned to 'absolute'
    - this way we can perfectly align the bullets / numbering to the list content
  */
  position: relative;
  padding-left: 1.25em;
}
html body.page main #content #sidebar ul li:before {
  content: "\271A";
  /* making the content of the list perfectly align with numbering
    - <li> is relatively positioned
    - :the numbering (:before) is aboslutely positioned within <li> and fixed to left
    - the the <li> content has a padding-left to not overlap the numbering
  */
  position: absolute;
  left: 0;
}
html body.page main #content #sidebar h3 {
  display: none;
}
html body.page main #content #sidebar ul li {
  margin: 0.625em 0;
}
