/* Templates mostly focus on content structure (such as character length, image size, etc) rather than the actual content.
  - they are wireframes describing the layout
*/


/* An arrow
  - to scroll to top of the page
  - or to reveal a menu
*/
@mixin arrow($arrow: up, $hide: false) {
  @if ($hide == false) {
    cursor: pointer;
    margin-right: 0;

    &:before {
      content: $arrow-down;
      font-size: $before-font-size;
      display: block;

      @if ($arrow == up) {
        @include transform(rotate(-90deg));
      }
      @if ($arrow == down) {
        @include transform(rotate(90deg));
      }
    }
  } @else {
    &:before {
      content: '';
      padding: 0;
      font-size: normal;
      display: none;
    }
  }
}





/* A classic, horizontal menu for <nav> elements
*/
@mixin menu {
  h3 {
    display: none;
  }

  ul {
    @include list-inline;

    li {
      &.current_page_item {
        a {
          @include color(highlight);
        }
      }
    }
  }

  /* We have two menus, the last is for contact
  */
  &:last-of-type {
    display: none;

    @include above-and-normal-screen {
      float: right;
      margin-right: 0em;
      display: block;
    }
  }

  @include below-tablet {
    ul {
      display: none;
    }

    &:last-of-type {
      @include arrow(down);
      display: block;
      float: right;
    }

    /* Remove the arrow when menu is active
    */
    &.active {
      &:last-of-type {
        @include arrow('', hide);
        float: left;
      }
    }
  }

  @include mobile {
    &.active {
      /* Display the menu as a normal list
      */
      @include block;
    }
  }


}


/* The filters
*/
@mixin filters {
  #labels, #select {
    @include block;
  }

  @include select;

  ul li, .select {
    @include isotope(5);
  }

  @include below-and-small-screen {
    ul {
      display: none;
    }
  }
}


/* Remove a section or nav title required by HTML5 outliner
*/
@mixin remove-title {
  h2, h3, h4 {
    display: none;
  }
}



// Checkout page
@mixin page-finalizare-comanda {
  #error .wpdberror,
  table caption,
  .custdetails > p,
  #shiplegend,
  input[name="eshop_shiptype"],
  .eshopform span label[for="eshop_shiptype1"],
  table.eshopshiprates thead,
  .fld2 legend,
  .fld2 .company,
  .fld2 .address2,
  .fld2 .state,
  .fld2 .altstate,
  .fld2 .country,
  .fld3 legend,
  .fld3 .eshopreference,
  .fld6,
  label[for="submitit"],
  .related-posts,
  .shippingrow small,
  label.finalize small,
  .eshop.confirm .company,
  .eshop.confirm .country {
    display: none;
  }

  #cartItem {
    padding-left: $pad / 4;
  }

  .amts.lb {
    text-align: right;
  }

  label[for="eshop_shiptype1"] {
    p, table {
      display: inline-block;
      width: auto;
      float: left;
    }

    table {
      float: right;
      position: relative;
      top: -$pad;

      td {
        padding: 0 $pad $pad 0;
      }
    }
  }

  #mainlegend {
    @include block;
    width: calc(100% - #{$pad / 2});
    @include color(invert);
    padding: $pad / 2 $pad / 4;
    margin-bottom: $pad;
  }

  .buttonwrap .button,
  .finalize .button {
    @include button($green, $background, $color);
  }

  .continue-proceed,
  .eshopcp3 {
    @include list-inline;

    li {
      &::before {
        content: '' !important;
      }

      @include button;
      font-size: small;
    }
  }

  #cTotal {
    font-weight: bold;
  }

  ul.eshop.confirm,
  ul.eshop.confirmref {
    li {
      &::before {
        content: '' !important;
      }
    }
  }

  .eshop-confirm,
  .eshopcp3 {
    @include block;
  }

  .eshopcheckoutconf {
    border: 1px solid;
  }

}



/* Shopping cart page
*/
@mixin page-cos-cumparaturi {
  table caption,
  #cartDelete img,
  .deletecartitem .hide,
  .rtnshopping,
  .related-posts {
    display: none !important;
  }

  .deletecartitem input[type="image"],
  .cartopt .button {
    width: auto;
  }

  #cartItem {
    padding-left: $pad / 4;
  }

  .cartopt {
    label {
      display: inline-block;
      margin-right: $pad;
      width: auto !important;

      .button {
        @include button;
      }
    }
  }

  .continue-proceed {
    @include list-inline;

    li {
      &::before {
        content: '' !important;
      }

      &.gotocheckout {
        @include button($green, $background, $color);
        float: right;
        padding-left: $pad;
        padding-right: $pad;
      }
    }
  }
}


html {
  body {
    @include default-settings;

    .container {
      @include container;

      #header, #footer {
        @include block;
        @include float-left;
        margin: $pad 0;
      }

      #header {
        margin-bottom: 0;

        nav {
          @include menu;
        }
      }

      main {
        @include block;

        section {
          @include block;
          margin: $pad 0 0;

          /* The space between the intro image and real content is adjusted
          */
          &:nth-of-type(2) {
            margin-top: 0;
          }

          &#intro {
            @include remove-title;
            @include figure(100%);
          }

          &.articles {
            @include thumbs(normal, $pad);
          }

          &#index {
            @include remove-title;
          }
        }
      }

      #footer {
        nav {
          float: right;
          margin-right: 0;
          @include remove-title;
          @include arrow(up);

          @include below-mobile-landscape {
            float: left;
          }
        }
      }
    }


    /* Archives
    */
    &.page {
      main {
        section {
          &.articles {
            @include thumbs(isotope, $pad);
          }

          &#filters {
            @include filters;
            margin-bottom: 0;
          }
          /* The filters have relative posistioning with a negative top margin
            - it's container bottom margin and the next container's top margin must be reset
          */
          &#results {
            @include remove-title;
            margin-top: 0;
          }
        }
      }
    }


    /* Single product
    */
    &.single-post {
      main {
        article.product {
          /* The Golden Ratios
          */
          figure {
            @include m_column($minor, 5%);
          }

          aside {
            @include m_column($major - 5%, 0);
          }

          @include below-small-screen {
            figure, aside {
              @include m_column(100%, 0);
            }
          }
        }
      }
    }

    /* Content pages
    */
    &.page {
      main {
        /* The Golden Ratios
        */
        #index {
          @include m_column($major, 5%);
        }

        #sidebar {
          @include m_column($minor - 5%, 0);
          @include remove-title;
        }

        @include below-small-screen {
          #index, #sidebar {
            @include m_column(100%, 0);
          }
        }
      }
    }

    /* Shopping cart page
    */
    &.page-cos-cumparaturi {
      main article aside #content {
        @include page-cos-cumparaturi;
      }
    }

    /* Checkout page
    */
    &.page-finalizare-comanda {
      main article aside #content {
        @include page-finalizare-comanda;
      }
    }
  }
}
