/* Templates mostly focus on content structure (such as character length, image size, etc) rather than the actual content.
  - they are wireframes describing the layout
*/



/* A classic, horizontal menu for <nav> elements
*/
@mixin menu {
  h3 {
    display: none;
  }
  
  ul {
    @include list-inline;
  }
  
  /* We have two menus, the last is for contact
  */       
  &:last-of-type {
    display: none;
    
    @include above-and-normal-screen {
      float: right;
      margin-right: 0em;
      display: block;
    }
  }
  
  @include below-tablet {
    ul { 
      display: none;
    }    
    
    &:last-of-type {
      @include arrow($arrow-down);
      display: block;
      float: right;
    }
    
    /* Remove the arrow when menu is active
    */
    &.active {
      &:last-of-type {
        @include arrow('', hide);
        float: left;
      }
    }
  }
  
  
}

/* Highlight current menu item
*/
@mixin highlight-menu($index) {
  #header nav ul li:nth-of-type(#{$index}) a {
    @include color(highlight);
  }
}



/* The golden ration on pages
*/
@mixin golden-ratio($first: $major, $last: $minor) {
  article, figure {
    @include m_column($first);
  }
  
  aside, #sidebar {
    @include m_column($last);
  }
  
  @include below-small-screen {
    article, figure, aside, #sidebar {
      @include m_column(100%, 0);
    }
  }
}

/* The filters
*/
@mixin filters {
  #labels, #select {
    @include block;
  }
  
  @include select;
  
  ul li, .select {
    @include isotope(5);
  }
  
  @include below-and-small-screen {
    ul {
      display: none;
    }
  }
}


/* Remove a section or nav title required by HTML5 outliner
*/
@mixin remove-title {
  h2, h3 {
    display: none;
  }
}

/* Images are not well sized. On thumbs they will be cut to a precise size
*/
@mixin truncate-image {
  figure {
    div {
      max-height: 10em;
      overflow: hidden;
      background: #fff;
      
      img {
        width: 100%;
      }
    }
  }
}




html {
  body {
    @include default-settings;
    
    .container {
      @include container;
      
      #header, #footer {
        @include block;
        @include float-left;
        margin: $pad 0;
      }
      
      #header {
        margin-bottom: 0;
        
        nav {
          @include menu;
        }
      }
            
      main {
        @include block;
        
        section {
          @include block;
          margin: $pad 0;
          
          &#intro {
            @include remove-title;
            @include figure(100%);
          }
          
          &.articles {
            @include thumbs(normal);
            @include truncate-image;
          }
        }
      }
      
      #footer {
        nav {
          float: right;
          margin-right: 0;
          @include remove-title;
          @include arrow($arrow-up); 
        }
      }
    }
    
    
    /* Archives
    */
    &.page {
      main {
        section {
          @include thumbs(isotope, $pad);
          
          &#filters {
            @include filters;
            margin-bottom: 0;
          }
          /* The filters have relative posistioning with a negative top margin
            - it's container bottom margin and the next container's top margin must be reset 
          */
          &#results {
            @include remove-title;
            margin-top: 0;
          }
        }
      }
    }
    
    
    /* Single product
    */
    &.single-post {
      main {
        article.product {
          @include golden-ratio($minor, $major);
        }
        
        section {
          nav {
            @include block;
            
            h2 {
              @include col(5);
            }
          } 
        }
      }
    }
    
    /* Content pages
    */
    &.page {
      main {
        #content {
          @include remove-title;
          @include golden-ratio;
        }
      }
    }
  }
}
