/* Templates mostly focus on content structure (such as character length, image size, etc) rather than the actual content.
  - they are wireframes describing the layout
*/


html {
  body {
    @include defaults;
    
    .container {
      @include container;
      
      #header {
        @include block;
        @include float-left;
        margin: $pad 0;
        
        nav {
          @include menu;
          margin-top: $pad - $pad/4;
          
          &:last-of-type {
            float: right;
            margin-right: 0;
          }
        }
      }
            
      main {
        @include block;
        
        section {
          @include block;
          
          /* There are 4 sections on each page
            - the third sections sets the margins for all others
          */
          &:nth-of-type(3) {
            margin: $pad*2 0;
          }
        }
      }
      
      #footer {
        @include block;
        @include address;
        margin: $pad 0;
        @include float-left;
        
        nav {
          float: right;
          margin-right: 0;
          
          h3 {
            @include go-top;
          }  
        }
      }
    }
    
    
    /* Frontpage
    */
    &.home {
      main {
        section {
          @include thumbs(normal);
        }
      }
    }
    
    
    /* Archives
    */
    &.page {
      main {
        section {
          @include thumbs(isotope, $pad);
          
          &#filters {
            @include select;
            
            ul li, .select {
              @include isotope(5);
            }
            
            ul li {
              @include color(invert);
              margin-top: $pad;
              padding: $pad/4;
              padding-right: 0;
              width: calc(17% - #{$pad/4});
            }
          }
          
          &:nth-of-type(3) {
            margin-top: 0;
          }
        }
      }
    }
    
    
    /* Single product
    */
    &.single-post {
      main {
        section {
          &#article {
            article {
              @include figure(null, hide);
              
              #content {
                @include block;
                @include float-left;
                
                aside {
                  @include body-text;
                  
                  img, h1 {
                    display: none;
                  }
                }
              }
            }
          }
          
          &#variations, &#brands {
            @include thumbs(normal, $pad);
          }
          
          &#variations {
            article {
              &.title {
                h1 {
                  @include black-background;
                  border: none;
                  top: 0;
                  text-align: center;
                  padding: $pad 0;
                }
              }
            }
          }
        }
      }
    }
    
    /* Content pages
    */
    &.page {
      main {
        #page {
          @include content;
        }
        
        #sidebar {
          @include sidebar;
        }
      }
    }
  }
}
