/* Special constructs for this site
*/




/* Displays a product thumb in different ways
*/
@mixin thumb($img: null, $figcaption: null, $aside: true, $title: false, $details: true) {
  @include figure($img, $figcaption);
  
  @if ($aside == false) {
    aside {
      display: none;
    }
  } @else {
    aside {
      display: block;
      
      @if ($title == false) {
        #title {
          display: none;
        }
      } @else {
        #title {
          display: block;
        }
      }
      
      @if ($details == false) {
        #details {
          display: none;
        }
      } @else {
        #details {
          display: block;
        }
      }
    }
  }
  
  #price {
    @include price;
  }
}



/* Creates a section displaying product thumbs
  - if thumbs are filtered by Isotope the standard grid is replaced by an isotope grid
*/
@mixin thumbs($type: normal, $title: null, $margin-bottom: 0) {
  article {
    &.thumb {
      @if ($type == normal) {
        @include col(5);
      } @elseif ($type == isotope) {
        @include isotope(5);
      }
    }
    
    @if ($title != null) {
      &.c0 {
        h1 {
          @include bordered;
        }
      }
    }
    
    @include thumb;
    margin-bottom: $margin-bottom;
  }
}


/* Display price
*/
@mixin price {
  ul {
    @include list-inline;
    
    li {
      margin-right: $pad/2;
      
      &:first-of-type {
        text-decoration: none;
        font-weight: bold;
      }
      
      &:nth-of-type(2) {
        text-decoration: line-through;
        font-weight: normal;
      }
    }
  }
}


/* A white text on a black, opaque background
*/
@mixin black-background {
  position: relative;
  top: -$pad*2 - $pad/4;
  background: $background;
  display: inline-block;
  
  @include bordered;
  border-width: $pad/4;
  padding: $pad;
  @include color(invert);
  
  opacity: .9;
}


/* Displays a figure in different ways
  - $img width can be set to 100% 
  - $figcaption can be hidden or decorated
*/
@mixin figure($img: null, $figcaption: null) {
  @if ($img == full-width) {
    img {
      @include full-width-image;
    }
  }
  
  @if ($figcaption == hide) {
    figcaption {
      display: none;
    }
  } @elseif ($figcaption == black-background) {
    figcaption {
      @include black-background;
    }
  }
}

/* Highlight a text, even if it is a link
*/
@mixin highlight {
  color: $highlight;
  a {
    @include link($highlight);
  }
}


/* Add border to text
*/
@mixin bordered {
  padding: $pad/2;
  border: 1px solid;
}


