/* Special decorations for this site
*/



/* The product thumb must be styled specially for this theme
*/
@mixin thumb-anvelocom($figcaption: true, $price: true) {
  article {
    &.thumb, &.product {
      height: 19em;
      @include landscape {
        height: 23em;
      }
    
      figure {
        height: 17em;
        @include landscape {
          height: 21em;
        }
        
        @include bordered;
        
        div {
          max-height: 10em;
          overflow: hidden;
          
          img {
            width: 100%;
          }
        }
        
        figcaption {
          margin: $pad 0;
        }
      }
      
      @if ($figcaption != true) {
        figcaption {
          display: none;
        }
      }
      
      @if ($price != false) {
        aside {
          display: block;
          @include remove-title;
          
          #dimension, #content {
            display: none;
          }
          
          #price {
            display: block;
            @include price;
          }
        }
      }
    }
  }
}




/* Display page content
*/
@mixin page {
  figure {
    display: none;
  }
  
  aside {
    #price, #dimension {
      display: none;
    }
    
    #content {
      img {
        width: 100%;
      }
    }
  }
}


@mixin comments {
  max-width: $body-text-width;
  margin: $pad 0;
  
  @include color(invert);
  padding: $pad;
  width: calc(100% - #{$pad*2});
  
  @include form;
  
  h3, h2 {
    margin-bottom: $pad;
  }
  
  ol {
    li {
      margin-bottom: $pad;
      padding-bottom: $pad;
      border-bottom: 1px solid $gray;
      
      @include body-text;
      
      a {
        @include link($highlight);
      }
      
      .reply {
        margin: $pad/2 0;
      }
      
      .vcard {
        display: none;
      }
    }
    
    &.children {
      margin: $pad;
    }
  }
  
  
  form {
    width: 60%;
    
    input, textarea {
      margin-bottom: $pad/2;
      
      &#submit {
        width: 15em;
      }
    }
  }
}


/* The sidebar
*/
@mixin sidebar {
  @include bordered;
  padding: $pad*2;
  @include ul;
  
  h3 {
    display: none;
  }
  
  ul {
    li {
      margin: $pad/2 0;
    }
  }
}



/* Display price
*/
@mixin price {
  @include list-inline;
  
  li {
    &:nth-of-type(1) {
      font-weight: bold;
      margin-right: $pad/2;
    }
    
    &:nth-of-type(2) {
      text-decoration: line-through;
      margin-right: 0;
    }
  }
}


/* A white text on a black, opaque background
*/
@mixin black-background {
  position: relative;
  top: -$pad*2 - $pad/4;
  background: $background;
  display: inline-block;
  
  @include bordered;
  border-width: $pad/4;
  padding: $pad;
  @include color(invert);
  
  opacity: .9;
  
  @include mobile {
    border-width: 0;
    top: 0;
  }
}



/* Highlight a text, even if it is a link
*/
@mixin highlight {
  color: $highlight;
  a {
    @include link($highlight);
  }
}


/* Add border to text
*/
@mixin bordered {
  padding: $pad/2;
  border: 1px solid;
}




html {
  body {
    .container {
      #header {
        h1 {
          @include bordered;
        }
        /* Nav must be adjusted to the bordered header
        */
        nav {
          margin-top: $pad - $pad/4;
          
          @include below-tablet {
            margin-top: $pad/2;
          }
        }
      }
      
      main {
        section {
          header {
            h2 {
              @include bordered;  
              margin-bottom: $pad;
              width: auto;
              display: inline-block;
            }
          }
            
          &.articles {
            @include thumb-anvelocom;
          }
          
          
          &#intro {
            figure {
              figcaption {
                @include black-background;
              }
            }
            /* Figcaption has relative positioning with negative top margin 
            */
            margin-bottom: 0; 
          }
        }
      }
      
      #footer {
        #company {
          @include address;
          address {
            max-width: 35em;
            margin: $pad 0;
          }
        }
      }
    }
  
    /* Archives
    */
    &.page {
      .container {
        main {
          section {
            &#filters {
              ul {
                li {
                  @include color(invert);
                  padding: $pad/4;
                  width: col-resize(isotope-col-width(5), $pad/2, 0px);
                }
              }
            }
          }
        }
      }
    }
    
    /* Single product
    */
    &.single-post {
      main {
        #index {
          margin-top: 0;
          
          article.product {
            header {
              display: none;
            }
            
            figure {
              figcaption {
                display: none;
              }
              
              margin-bottom: $pad;
            }
            
            aside {
              background: white; 
              padding: $pad;
              width: col-resize($major - 5%, $pad*2, 0px);
              @include below-small-screen {
                width: col-resize(100%, $pad*2, 0px);
              } 
            
              #price {
                @include price;
              }
              
              #price, #dimension {
                @include block;
                @include bordered;
                width: 51%;
                margin-bottom: $pad;
              }
              
              #content {
                @include block;
                @include body-text;
                
                img {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    
    
    /* Content page
    */
    &.page {
      main {
        #index {
          margin-top: 0;
          
          article.thumb, #comments {
            float: left;
            @include body-text;
          }
          
          article.thumb {
            @include page;
            
            background: white; 
            padding: $pad;
          }
          
          #comments {
            @include comments;
          }
        }
        
        #sidebar {
          @include sidebar;
          width: col-resize($minor - 5%, $pad*4, 2px);
          
          @include below-small-screen {
            padding: $pad;
            width: col-resize(100%, $pad*2, 2px);
          }
        }
      }
    }
  
  }
}

