/* Special constructs for this site
*/


/* Display page content
*/
@mixin content {
  width: $major;
  float: left;
  
  #content {
    @include block;
    @include body-text;
  }
  
  #comments {
    @include block;
    max-width: $body-text-width;
    margin: $pad 0;
    
    @include color(invert);
    padding: $pad;
    width: calc(100% - #{$pad*2});
    
    @include form;
    
    h3, h2 {
      margin-bottom: $pad;
    }
    
    ol {
      li {
        margin-bottom: $pad;
        padding-bottom: $pad;
        border-bottom: 1px solid $gray;
        
        @include body-text;
        
        a {
          @include link($highlight);
        }
        
        .reply {
          margin: $pad/2 0;
        }
        
        .vcard {
          display: none;
        }
      }
      
      &.children {
        margin: $pad;
      }
    }
    
    
    form {
      width: 60%;
      
      input, textarea {
        margin-bottom: $pad/2;
        
        &#submit {
          width: 15em;
        }
      }
    }
  }
}


/* The sidebar
*/
@mixin sidebar {
  @include bordered;
  padding: $pad*2;
  width: calc(#{$minor} - #{$pad*4} - 2px);
  float: left;
  @include ul;
  
  h3 {
    display: none;
  }
  
  ul {
    li {
      margin: $pad/2 0;
    }
  }
}


/* Displays a product thumb in different ways
*/
@mixin thumb($img: null, $figcaption: null, $aside: true, $title: false, $details: true) {
  @include figure($img, $figcaption);
  
  @if ($aside == false) {
    aside {
      display: none;
    }
  } @else {
    aside {
      display: block;
      
      @if ($title == false) {
        #title {
          display: none;
        }
      } @else {
        #title {
          display: block;
        }
      }
      
      @if ($details == false) {
        #details {
          display: none;
        }
      } @else {
        #details {
          display: block;
        }
      }
    }
  }
  
  #price {
    @include price;
  }
}



/* Creates a section displaying product thumbs
  - if thumbs are filtered by Isotope the standard grid is replaced by an isotope grid
  - if an article has .title class it will be displayed as section title
*/
@mixin thumbs($type: normal, $margin-bottom: 0) {
  article {
    &.thumb {
      @if ($type == normal) {
        @include col(5);
      } @elseif ($type == isotope) {
        @include isotope(5);
      }
    }
    
    &.title {
      h1 {
        @include bordered;
      }
    }
    
    @include thumb;
    margin-bottom: $margin-bottom;
  }
}


/* Display price
*/
@mixin price {
  ul {
    @include list-inline;
    
    li {
      margin-right: $pad/2;
      
      &:first-of-type {
        text-decoration: none;
        font-weight: bold;
      }
      
      &:nth-of-type(2) {
        text-decoration: line-through;
        font-weight: normal;
      }
    }
  }
}


/* A white text on a black, opaque background
*/
@mixin black-background {
  position: relative;
  top: -$pad*2 - $pad/4;
  background: $background;
  display: inline-block;
  
  @include bordered;
  border-width: $pad/4;
  padding: $pad;
  @include color(invert);
  
  opacity: .9;
}


/* Displays a figure in different ways
  - $img width can be set to 100% 
  - $figcaption can be hidden or decorated
*/
@mixin figure($img: null, $figcaption: null) {
  @if ($img == full-width) {
    img {
      @include full-width-image;
    }
  }
  
  @if ($figcaption == hide) {
    figcaption {
      display: none;
    }
  } @elseif ($figcaption == black-background) {
    figcaption {
      @include black-background;
    }
  }
}

/* Highlight a text, even if it is a link
*/
@mixin highlight {
  color: $highlight;
  a {
    @include link($highlight);
  }
}


/* Add border to text
*/
@mixin bordered {
  padding: $pad/2;
  border: 1px solid;
}


